# Marcar pastas de bibliotecas como 'vendored' (ignora nas estatísticas)
wwwroot/lib/* linguist-vendored
wwwroot/css/* linguist-documentation
wwwroot/js/* linguist-documentation

# Marcar arquivos de estilo e minificados como 'vendored'
*.css linguist-vendored
*.scss linguist-vendored
*.min.css linguist-vendored
*.min.js linguist-vendored

# Garantir que arquivos .cshtml sejam contados, mas não dominem o gráfico
*.cshtml linguist-detectable=true

# Forçar o destaque total no C#
*.cs linguist-detectable=true